{% extends 'base.html.twig' %}

{% block title %}ScoffTest{% endblock %}

{% block body %}
    <h1>ScoffTest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scoff_test.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ scoff_test.question }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scoff_test_index') }}">back to list</a>

    <a href="{{ path('scoff_test_edit', {'id': scoff_test.id}) }}">edit</a>

    {{ include('scoff_test_admin/_delete_form.html.twig') }}
{% endblock %}
